<!DOCTYPE html>
<html>
<head>
  <title>Bl commons</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "bl_commons/application", media: "all" %>
  <%= javascript_include_tag "bl_commons/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
